.best {
  background: url('../img/we.png') center center / cover no-repeat;  
}

.best__list {
  display: flex;
  padding-inline-start: 0;
  list-style-type: none; 
  margin: 0;   
  @include phones {
    flex-direction: column;
  }
}

.best__item {
  flex: 1;
  margin-right: rem(35px);
  text-align: center;
  &:last-child {
    margin-right: 0;
  }
  @include phones {   
    display: flex;
    flex-direction: row; 
    margin-bottom: rem(53px);       
  }
}

.best__product {
  @include phones {   
    display: flex;
    text-align: left;
    margin-left: rem(20px); 
    flex-direction: column;  
  }  
}

.best__pic {
  margin-bottom: rem(34px);
  min-width: rem(100px);
}

.best__title{
  font-family: 'lifehackmedium';
  font-size: rem(24px);
  margin-bottom: rem(33px);
}

.best__product-text {
  font-family: 'ubuntulight';
  font-size: rem(14px);
  color: #898786;
  line-height: 1.5;  
}

.title_best {
  margin-bottom: rem(55px);
  text-align: center;
  @include phones {
    margin-bottom: 0.4375rem;
  }
}

.meat {
  width: 97px;
  height: 89px;
}

.hand {
  width: 73px;
  height: 85px;
}

.natural {
  width: 88px;
  height: 75px;
}