.command {
    background: url('../img/command.png') center center / cover no-repeat;
    position: relative;

    .command__title {
        margin-bottom: 12%;
    }

    @include tablets {
        display: flex;
        align-items: center;
        justify-content: center;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(#2f3234, .93);
        }
    }
}

.command__section {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 50%;
    background: rgba(#2f3234, .93);
    padding: 5% 2% 0 7%;


    @include tablets {
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        text-align: center;
        background: transparent;
        padding: 0;
    }
}

.command-acco {
    @include tablets {
        padding-bottom: rem(20px);
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

.command-acco__item {
    margin-bottom: rem(0px);

    @include tablets {
        margin-bottom: rem(30px);
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &_active {
        margin-bottom: rem(40px);
        .command-acco__trigger {
            color: #f9b43b;

            &:before {
                transform: rotate(-180deg);
            }
        }

        .command-acco__content {
            display: flex;
            height: rem(114px);

            @include tablets {
                flex-direction: column;  
                height: rem(190px);              
            }
            @include phones {
                height: 13.875rem;
            }

        }
    }
}

.command-acco__trigger {
    color: #fff;
    font-size: rem(14px);
    font-family: 'gagalinregular';
    text-decoration: none;
    position: relative;
    display: block;
    margin-bottom: rem(20px);

    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        left: rem(-18px);
        top: rem(8px);
        width: 0;
        height: 0;
    }

    &:before {
        border-top: rem(7px) solid #f9b43b;
        border-left: rem(5px) solid transparent;
        border-right: rem(5px) solid transparent;
        border-bottom: rem(0px) solid transparent;
        transform: rotate(0deg);
        transition: .3s;
    }

    &:after {
        display: none;
        border-bottom: rem(7px) solid #f9b43b;
        border-left: rem(5px) solid transparent;
        border-right: rem(5px) solid transparent;
        border-top: rem(0px) solid transparent;
    }

    @include tablets {
        display: flex;
        font-size: rem(25px);

        &:before {
            margin-top: rem(10px);
        }
    }
}

.command-acco__content {
    display: flex;
    padding-top: rem(14px);    

    overflow: hidden;
    height: rem(0px);
    transition: .5s;


    @include tablets {
        padding: 0 25%;
        align-items: center;
    }
}

.command-acco__pic {
    text-align: center;
    width: rem(100px);
    margin-right: rem(20px);

    @include tablets {
        margin-bottom: rem(15px);
        margin-right: rem(0px);
    }
}

.command-acco__img {
    display: flex;
    object-fit: cover;
    width: rem(100px);
    height: rem(100px);
    border-radius: 50%;
}

.command-acco__text {
    width: 70%;
    flex-direction: column;
}

.command-acco__pic,
.command-acco__text {
    display: flex;
    justify-content: left;

    @include tablets {
        display: block;        
    }
}

.command-acco__title {
    font-family: 'ubuntubold';
    font-size: rem(14px);
    color: #fff;
    margin-bottom: rem(14px);
}

.command-acco__text-content {
    font-family: 'ubuntulight';
    color: #fff;
    font-size: rem(14px);
    max-width: rem(212px);

    @include tablets {
        max-width: inherit;
    }
}